@import "./utilities/reset.sass"
@import "./utilities/font.sass"
@import "./utilities/mixins.sass"
@import "./utilities/colors.sass"

body
  font-family: 'Karla', sans-serif
  overflow-x: hidden
  

header
  @include flex-between
  padding: px-rem(16)

  h1
    font-size: clamp(px-rem(18), 5vw + 1rem, px-rem(36))
    letter-spacing: px-rem(3.5)

#hamburger-icon
  position: relative
  cursor: pointer

.mobile-nav-links
  text-align: center
  cursor: pointer
  background: $dark-violet
  color: $very-light-gray
  position: absolute
  right: -100%
  top: 67px
  min-height: 98vh
  min-width: 100%
  padding-top: px-rem(40)
  transition: right 0.3s ease
  overflow: hidden
 
  
  li
    margin: px-rem(13)
    padding: px-rem(15)
    &:hover
      color: black

.activeMobile
  right: 0
  overflow: hidden

    
   
img#family-photo
  width: 100%
  max-height: 90vh
  display: block

.violet-section
  @include flex-display
  background: $dark-violet
  color: $very-light-gray
  min-height: 90vh
  padding: px-rem(10) px-rem(30)
  text-align: center
  position: relative
  z-index: 1

  h2
    font-size: clamp(px-rem(24), 4vw + 1rem, px-rem(38))
  p 
    line-height: 1.7
    padding: px-rem(18) px-rem(20)
    opacity: .7
    font-size: clamp(px-rem(14), 4vw + 1rem, px-rem(18))

picture.intro-img-left
  position: absolute
  top: 0
  left: 0
  z-index: 0

picture.intro-img-right
  position: absolute
  bottom: 0
  right: 0
  z-index: 0

.btn     
  border: 2px solid $very-light-gray
  background: inherit
  color: inherit
  text-transform: uppercase
  padding: px-rem(10) px-rem(30)
  //font-size: clamp(px-rem(8), 3vw + 1rem, px-rem(12))
  opacity: .8   
  margin: px-rem(15) 0 px-rem(65)
  box-shadow: 0 2px 8px rgba(250,250,250, .1)   

.boxed-section
  @include flex-display
  padding: px-rem(65) px-rem(30)
  text-align: center

  .small-line
    min-height: px-rem(0.5)
    min-width: 15vw
    margin-bottom: px-rem(35)
    background: $dark-violet

  h3
    font-size: clamp(px-rem(24), 8vw + 1rem, px-rem(38))
  
  .box-container
    @include grid-display
    padding-top: px-rem(30)

    article
      padding: px-rem(40) px-rem(10)
      
      img
        max-width: 3.5em
      h4
        font-size: clamp(px-rem(22), 4vw + 1rem, px-rem(27))
        padding: px-rem(20) 0
        font-weight: 400

      p
        font-size: clamp(px-rem(12), 5vw + 1rem, px-rem(16))
        line-height: 1.8

.inquiry-section
  @flex-display
  margin: px-rem(30) auto
  padding: px-rem(25) px-rem(50)
  max-width: 90%
  min-height: 50vh

  
  h2
    font-size: clamp(px-rem(28), 4vw + 1rem, px-rem(40))
    margin-bottom: px-rem(30)

footer
  text-align: center
  line-height: 2
  margin-top: px-rem(200)
  color: $dark-violet

  .foot-head
    border-bottom: 1px solid $dark-grayish-violet
    margin: px-rem(20)
    .social-links
      margin: px-rem(20)
      img
        margin: 0 px-rem(7)

  #foot-page-links
    @include grid-display
    text-transform: uppercase
   
    h4
      margin-bottom: px-rem(15)
      font-size: clamp(px-rem(8), 4vw + 1rem, px-rem(14))

    ul
      li
        a
          font-size: clamp(px-rem(6), 4vw + 1rem, px-rem(12))

.attribution
  font-size: 11px
  text-align: center
  margin-top: px-rem(50)
  a
    color: hsl(228, 45%, 44%)