*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-family: "Karla", sans-serif;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "DM Serif Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 98%);
}

p {
  color: hsl(273, 4%, 51%);
  text-wrap: pretty;
}

h1 {
  font-size: clamp(1.5rem, 4vw + 1rem, 2.375rem);
  line-height: 0.9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.9375rem;
}

.hamburger-icon {
  position: relative;
  cursor: pointer;
}

.mobile-nav-links {
  cursor: pointer;
  background: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  position: absolute;
  right: 0;
  top: 65px;
  display: none;
  min-height: 100vh;
  min-width: 100%;
  padding-top: 2.5rem;
  transition: all 0.3s ease-in;
  z-index: 1001;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}
.mobile-nav-links li {
  text-align: center;
  margin: 0.8125rem;
  padding: 0.9375rem;
}
.mobile-nav-links li:hover {
  color: black;
}

.activeMobile {
  transition: all 0.3s ease-in;
  display: block;
  opacity: 1;
}

#hero-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
  position: relative;
}
#hero-page .intro-img-left {
  position: absolute;
  top: 30em;
  left: 0;
}
#hero-page .intro-img-right {
  position: absolute;
  bottom: -11em;
  right: 0;
}

.violet-section {
  background: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
}

.img-col {
  min-width: 100%;
  height: 30em;
  margin: 0;
  padding: 0;
}
.img-col img {
  width: 100%;
  height: 100%;
  display: block;
}

.text-col {
  max-width: 100%;
  padding: 3.75rem 1.875rem;
  text-align: center;
}
.text-col .text-in-main {
  line-height: 1.3;
  padding: 1.25rem 0;
}

.btn {
  border: 2px solid hsl(0, 0%, 98%);
  background: inherit;
  color: inherit;
  text-transform: uppercase;
  padding: 0.625rem 1.875rem;
  font-size: clamp(0.5rem, 3vw + 1rem, 0.75rem);
}
.btn:hover {
  cursor: pointer;
  background: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  box-shadow: 1px 1px 5px hsl(273, 4%, 51%);
}

.boxed-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 6.25rem 1.875rem;
  text-align: center;
}
.boxed-section h3 {
  font-size: clamp(1.5rem, 8vw + 1rem, 2.375rem);
  color: hsl(256, 26%, 20%);
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.3125rem;
  padding-top: 1.875rem;
}
.box-container article {
  padding: 2.5rem 0.625rem;
}
.box-container img {
  max-width: 3.5em;
}
.box-container h4 {
  font-size: clamp(1.375rem, 4vw + 1rem, 1.6875rem);
  padding: 1.25rem 0;
  font-weight: 600;
  color: hsl(256, 26%, 20%);
}
.box-container p {
  font-size: clamp(0.75rem, 5vw + 1rem, 1rem);
  line-height: 1.8;
}

#inquiry-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.875rem auto;
  padding: 0.9375rem 0.625rem;
  max-width: 90%;
  min-height: 40vh;
  position: relative;
}
#inquiry-section h2 {
  font-size: clamp(1.75rem, 4vw + 1rem, 2.5rem);
  margin-bottom: 1.875rem;
}
#inquiry-section .how-we-work-img {
  position: absolute;
  right: 0;
  top: 0;
}

#footer {
  text-align: center;
  line-height: 1.6;
  margin-top: 6.25rem;
  color: hsl(256, 26%, 20%);
  background: hsl(0, 0%, 98%);
  position: relative;
  z-index: 1001;
}
#footer #footer-head-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0.7;
}
#footer .footer-container {
  max-width: 80%;
  margin: 0 auto;
}

.foot-head {
  padding: 1.875rem 0 0.3125rem;
  margin-bottom: 2rem;
  min-height: 15vh;
  border-bottom: 1px solid hsl(273, 4%, 51%);
}

.social-links {
  margin: 1.25rem;
}
.social-links .icon {
  margin: 0 0.4375rem;
}

.icon:hover {
  background: hsl(256, 26%, 20%);
  cursor: pointer;
}

#foot-page-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.3125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#foot-page-links h5 {
  margin-bottom: 0.625rem;
  font-size: clamp(0.5rem, 4vw + 1rem, 0.75rem);
  color: hsl(273, 4%, 51%);
  font-family: "Karla";
}
#foot-page-links ul {
  font-size: 0.75rem;
  font-weight: 600;
}
#foot-page-links ul a:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3.125rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "DM Serif Display", serif;
}

@media (min-width: 620px) and (max-width: 800px) {
  #hero-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    min-height: 98vh;
    position: relative;
  }
  #hero-page .intro-img-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .img-col {
    min-width: unset;
    max-width: 50%;
    height: unset;
    margin-right: 2rem;
  }
  .text-col {
    text-align: justify;
    max-width: 50%;
  }
  .boxed-section {
    max-width: 80%;
    margin: 4.5rem auto 0;
  }
}
@media (min-width: 820px) {
  .hamburger-icon {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: inherit;
    color: hsl(273, 4%, 51%);
    position: unset;
    min-height: unset;
    min-width: unset;
    padding-top: unset;
  }
  .nav-links li {
    margin: 0 0.625rem;
    padding: 0.625rem 0.9375rem;
  }
  .nav-links li:hover {
    color: black;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2), 1px 4px 10px rgba(0, 0, 0, 0.2), 1px 4px 10px rgba(0, 0, 0, 0.2), 1px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .nav-links li:last-child {
    border: 1px solid hsl(256, 26%, 20%);
  }
  .nav-links li:last-child:hover {
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.9);
    background: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
  }
  #hero-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0.625rem 1.875rem;
    position: relative;
  }
  #hero-page .intro-img-left {
    position: absolute;
    top: 20em;
    left: 0;
  }
  #hero-page .intro-img-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  #hero-page picture {
    height: 28.125rem;
  }
  .small-line {
    min-height: 1px;
    max-width: 6.25rem;
    margin-bottom: 2.1875rem;
    background: hsl(273, 4%, 51%);
  }
  .img-col {
    min-width: unset;
    max-width: 60%;
    padding-right: 11rem;
  }
  .text-col {
    max-width: 45%;
    text-align: left;
  }
  #family-photo {
    transform: translateY(5.3125rem);
  }
  .boxed-section {
    text-align: left;
    display: block;
    max-width: 80%;
    margin: 4.5rem auto 0;
  }
  #inquiry-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.9375rem 3.125rem;
    max-width: 80%;
  }
  #inquiry-section .how-we-work-img {
    height: 100%;
  }
  #footer #footer-head-img {
    position: absolute;
    top: 0;
    left: 0;
    width: unset;
  }
  .foot-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto 1.5625rem;
  }
  #foot-page-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.3125rem;
    text-align: left;
  }
}
@media (min-width: 820px) and (max-width: 920px) {
  .img-col {
    padding-right: 2rem;
  }
  .boxed-section {
    max-width: 90%;
  }
}/*# sourceMappingURL=style.css.map */