@import "./utilities/reset.sass"
@import "./utilities/font.sass"
@import "./utilities/mixins.sass"
@import "./utilities/colors.sass"

h1,
h2,
h3,
h4,
h5,
h6
  color: $very-light-gray

p
  color: $dark-grayish-violet
  text-wrap: pretty
  

h1
  font-size: clamp(px-rem(24), 4vw + 1rem, px-rem(38))
  line-height: 0.9

header
  @include flex-between
  padding: px-rem(15)

.hamburger-icon
  position: relative
  cursor: pointer

.mobile-nav-links
  cursor: pointer
  background: $dark-violet
  color: $very-light-gray
  position: absolute
  right: 0
  top: 65px
  display: none
  min-height: 100vh
  overflow: hidden
  min-width: 100%
  padding-top: px-rem(40)
  transition: all 0.3s ease-in
  z-index: 1001

  li
    text-align: center
    margin: px-rem(13) 
    padding: px-rem(15)
  
    &:hover
      color: $dark-violet


.activeMobile
  transition: all 0.3s ease-in
  display: block
  opacity: 1

//to the hero section
#hero-page
  @include flex-display
  min-height: 40vh
  position: relative

  .intro-img-left
    position: absolute
    top: 30em
    left: 0

  .intro-img-right
    position: absolute
    bottom: -11em
    right: 0

 
.violet-section
  background: $dark-violet
  color: $very-light-gray

.img-col
  min-width: 100%
  height: 30em
  margin: 0
  padding: 0
 
  img
    width: 100%
    height: 100%
    display: block


.text-col
  max-width: 100%
  padding: px-rem(60) px-rem(30)
  text-align: center
 

  .text-in-main
    line-height: 1.3
    padding: px-rem(20) 0

//for buttons
.btn     
  border: 2px solid $very-light-gray
  background: inherit
  color: inherit
  text-transform: uppercase
  padding: px-rem(10) px-rem(30)
  font-size: clamp(px-rem(8), 3vw + 1rem, px-rem(12))
  
  &:hover
    cursor: pointer
    background: $very-light-gray
    color: $dark-violet
    box-shadow: 1px 1px 5px $dark-grayish-violet
    

//mid section
.boxed-section
  @include flex-display($justify: flex-start)
  padding: px-rem(100) px-rem(30)
  text-align: center
  h3
    font-size: clamp(px-rem(24), 8vw + 1rem, px-rem(38))
    color: $dark-violet

.box-container
  @include grid-display
  padding-top: px-rem(30)
  article
    padding: px-rem(40) px-rem(10)
      
  img
    max-width: 3.5em
  h4
    font-size: clamp(px-rem(22), 4vw + 1rem, px-rem(27))
    padding: px-rem(20) 0
    font-weight: 600
    color: $dark-violet
  
  p
    font-size: clamp(px-rem(12), 5vw + 1rem, px-rem(16))
    line-height: 1.8

#inquiry-section
  @include flex-display
  margin: px-rem(30) auto
  padding: px-rem(15) px-rem(10)
  max-width: 90%
  min-height: 40vh
  position: relative

  h2
    font-size: clamp(px-rem(28), 4vw + 1rem, px-rem(40))
    margin-bottom: px-rem(30)

  .how-we-work-img
    position: absolute
    right: 0
    top: 0

#footer
  text-align: center
  line-height: 1.6
  margin-top: px-rem(100)
  color: $dark-violet
  background: $very-light-gray
  position: relative
  z-index: 1001

  #footer-head-img
    position: absolute
    top: 0
    left:0
    width: 100%
    z-index: 1000
    opacity: 0.7

  .footer-container
    max-width: 80%
    margin: 0 auto

.foot-head
  padding: px-rem(30) 0 px-rem(05)
  margin-bottom: 2rem
  min-height: 15vh
  border-bottom: 1px solid $dark-grayish-violet

.social-links
  margin: px-rem(20)
  .icon
    margin: 0 px-rem(7)
.icon:hover
  background: $dark-violet
  cursor: pointer



#foot-page-links
  @include grid-display
  text-transform: uppercase
  letter-spacing: 1px
   
  h5
    margin-bottom: px-rem(10)
    font-size: clamp(px-rem(8), 4vw + 1rem, px-rem(12))
    color: $dark-grayish-violet
    font-family: 'Karla'

  ul
    font-size: px-rem(12)
    font-weight: 600
    a
      &:hover
        text-decoration: underline
.attribution
  font-size: 11px
  text-align: center
  margin-top: px-rem(50)
  a
    color: hsl(228, 45%, 44%)

@import "./utilities/responsiveness.sass"